.header{
    height: 100px;
    width:100%;
    background-color: orangered;
}

.footer{
    height: 100px;
    width:100%;
    background-color: blue;
}

.myTable{
    margin: 20px;
    width: 80%;
}

.loginTable{
    width: 400px;
}

